{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<meta http-equiv="pragma" content="no-cache" />
<title>Your Awesome App</title>
<!-- Start of page content -->


<!-- Text landing -->
<div class="container">
    <img src="{% static 'assets/gambar.jpg' %}" class="gambar">
    <div class="heroText">
        Semangat Quanta!
    </div>
    <div>
        ❤️ Jofil
    </div>
</div>